*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background:#03a9fa;
    text-align: center;
    
}
.Log{
    color: #fff;
    font-family: Anton;
    text-align: center;
    font-size: 40px;
}
header input{
    height: 40px;
    width: 170px;
    margin: 20px 0;
    padding:0 5px;
    outline: none;
    border: none;
    border: 1px solid black;

}